<div class="prestations-container">
  <div class="titre-page-admin">
    <h1>Liste de mes prestations</h1>
  </div>
  <div class="cards-product">
    <% @prestations.each do |presta| %>
      <div class="card-product">
        <img src="https://picsum.photos/200" />
        <div class="card-product-infos">
          <h3 style= "color:rgb(24, 49, 83)"><%= link_to presta.name, admin_prestation_path(presta), class:"text-decoration-none" %></h3>
          <p><%= presta.description  %></p>
          <p><%= presta.price %>€</p>
          <%= link_to edit_admin_prestation_path(presta) do%>
              <i class="fa-solid fa-pen"></i>
          <% end %>
        </div>
        <%= link_to admin_prestation_path(presta), data: {turbo_method: :delete, turbo_confirm: "are you sure Biatch?"} do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="container">
    <%= link_to new_admin_prestation_path(@prestation) do %>
      <i class="fa-solid fa-square-plus"></i>
    <% end %>
  </div>
</div>
