<h1>User Edit</h1>

 <%= simple_form_for(buddies_url) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.submit %>
<% end %>

<%= link_to "Back to buddies list MF", buddies_path(@buddy), class: "btn btn-primary" %>
<%= link_to "Mes prestas admin", admin_prestations_path, class: "btn btn-primary" %>
<%= link_to "Mes réservations perso", prestations_path, class: "btn btn-primary" %>
