<h1>User Edit</h1>

<%= form_for(@buddy, url: buddy_path(@buddy), html: {method: :put}) do |f| %>
  <%= f.text_field :name, placeholder: @buddy.name  %>
  <%= f.text_field :description %>
  <%= f.submit %>
<% end %>
<%= link_to '<- Back', profil_buddy_path(current_user) %>
